*{
	font-family: "Open Sans";
}

body{
	margin-left: 0px;
	margin-right: 0px;
	margin-top:0px; 
	background-color: rgb(45,45,45);
}
header{
	/*position: fixed;*/
	padding-top: 5px;
	background-color: white;
}

.wrapp {
	/*border: 1px solid blue;*/
	max-width: 1024px;
	margin: 0 auto; 
	display: block;
	position: relative;
}
#navigation{
	/*position: fixed;*/
	background-color: rgb(15,91,145);
	height: 45px;

}
#navigation a:hover{
	color: rgb(66,152,213);
}
#navigation a{
	display: inline-block;
	margin-top: 10px;
	text-decoration: none;
	margin-right: 25px;
	color: white;
}
#navigation a#login, #navigation a#register{
	float:right;
	margin-right: auto;
}
.allnav{
	display: flex;
	justify-content: space-between;
}
.signin{
	margin-right: 25px;
}
.logo{
	margin-top: 5px;
  	display: inline-block; 
}

.header{
	top:0;
	display: flex;
	justify-content: space-between;
}
.info{
	margin-left: 20px;
	display: flex;
}
.info-logo{
	color: rgb(21,95,148);
	font-size: 20px;
	align-self: center;
	margin-right: 5px; 
}
.header-info{
	align-self: center;
}
.info-1{
	display: flex;
}

.searchback{
	display: block;
	background: url(../images/searchback.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.search h1{
	font-size: 25px;
	text-align: center;
	margin: auto;
	padding-top: 25px;
	padding-bottom: 25px;
	color: rgb(66,152,213);
}
.search{
	margin-left: auto;
	background-color: rgb(51,52,52);
	width: 350px;
}
.selects form{
	padding-left: 20px;
	display: inline-block;
	padding-bottom: 30px;
	
}
.selects form select{
	height: 25px;
	border-radius: 10px;
	outline: none;
	margin-bottom: 20px;
	margin-right: 15px; 
	display: inline-block;
	width: 145px;
}
.search_button{
  	color: white;
  	font-weight: 700;
  	user-select: none;
  	outline: none;
  	border: 2px solid;
  	border-radius: 10px;
	transition: 0.2s;
	border-color: rgb(15,91,145);
	color:white;
	background-color: rgb(15,91,145);
	height: 25px;
	width: 75px;
}
.search_button:active{
background: white; 
}
/*
.search_button:hover{
	background: rgba(66,152,213,.9);
}*/

.reset_button{
  	color: white;
  	font-weight: 700;	
  	outline: none;
  	border: 2px solid;
  	border-radius: 10px;
	transition: 0.2s;
	border-color: rgb(66,152,213);
	color:white;
	background-color: rgb(66,152,213);
	height: 25px;
	width: 65px;
	margin-left: 5px;
}
.reset_button:active{
	background: white; 
}
/*
.reset_button:hover{
	background: rgba(15,91,145,.9);
}*/
.searchbuttons{
	bottom: 0%;
	left: 0%;
	display: flex;
}

.searchbuttons div{
	display: block;
	width: 175px;	 
	
}
.searchbuttons a{
	width:100;
	text-decoration: none;
	color: white;
}
.searchbuttons i{

	font-size: 30px;
	display: block;
	color: rgb(166,218,255);
}
.buy_button{
	padding-top: 20px;
	padding-bottom: 20px;
	display: block;
	text-align: center;
	background-color: rgb(15,91,145);
}
.sell_button{
	padding-top: 20px;
	padding-bottom: 20px;
	display: block;
	text-align: center;
	background-color: rgb(30,113,171);
}
.buy_button a{

	text-decoration: none;
	color:white;
}
.sell_button a{

	text-decoration: none;
	color:white;
}
.buy_button a span{
	display: inline-block;
	vertical-align: middle;
}
.sell_button a span{
	display: inline-block;
	vertical-align: middle;
}

.sell_button span:hover{
	color: rgb(66,152,213);
}
.buy_button span:hover{
	color: rgb(66,152,213);
}
#cars{
	/*position: relative;*/
	padding: 30px;
	background-color: rgb(211,224,233);
}
.all_cars{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/*padding-top: 30px;*/
	padding-bottom: 30px;
	

}
.left_arrow{
	position: absolute;
	transform: translate(50%,40%);
	left: -60px;
	align-self: center;
	height: 100px;
	
	
}
.right_arrow{
	position: absolute;
	transform: translate(50%,40%);
	right: -30px;
	align-self: center;
	height: 100px;
	
}
.left_arrow i, .right_arrow i{
	font-size: 50px;
	text-decoration: none;
	color: black;
	/*align-self: center;*/
}
.left_arrow i:hover,.right_arrow i:hover{
	color: white;
}
.car{

	margin-top: 30px;
	background-color: white;
	width: 235px;
}
.car img{
	width: 100%;
	/*height: 164px;*/
}
.car_info{
	border-top: 5px solid rgb(66,152,213);
}
.car_div_title, .car_div_text, .car_div_price {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px; 
}
.car_div_title{
	font-size: 15px;
}
.car_div_text{
	font-size: 12px;
}
.car_div_price{
	font-size: 15px;
	color: rgb(66,152,213);
}
.car_images{
	border-bottom: 5px solid;
	margin-bottom: -5px;
}

#article_div{	
	background-image: url('../images/whyback.svg');
	background-repeat: no-repeat;
	background-size: cover;
	
}
.our_article h2, .our_article p{
	/*margin: auto;*/
	margin-right: auto; 
	margin-top: auto;
	margin-bottom: auto;
	width: 55%;
}
.our_article h2{
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
}
.our_article p{
	color: rgb(138,176,206);
	padding-bottom: 30px;
}
aside{
	height: 370px;
}
#news_section{
	margin-top: -1px;
	background-color: rgb(211,224,233);
}
.all_news{
	display:flex;
	justify-content: space-between;
}
.news_div_1{
	width: 300px;
}
.news_div_1 h2, .news_div_2 h2{
	color: rgb(15,91,145);
}
.news_div_1 p{
	color: rgb(82,82,82);
}
.news_div_1 ul, .news_div_2 ul{
	padding-left: 0px;
	margin: 0 auto;
	list-style-type: none;
	/*list-style-image: url('../img/list.png');*/
	color: rgb(108,192,252); 
}
/*.news_div_1 ul li:before, .news_div_2 ul li:before{
	content: url('../img/list.svg');
	
}*/
.news_div_1 ul a, .news_div_2 ul a{
	text-decoration: none;
	color: rgb(82,82,82);
}
.shedule_div{
	padding-top: 20px;
	padding-bottom: 20px;
	width: 370px;
}
.shedule_table{
	width: 100%;
}
.shedule_table h2{
	color: white;
	background-color: rgb(66,152,213);
	margin: 0 auto;
}
.leftcolumn{
	background-color: rgb(233,233,233);
}
table{
	height: 300px;
	background-color: white;
	/*margin-bottom: 20px;*/
	border-collapse: collapse;
}
.row{
	color: rgb(15,91,145);
}
.footer_div_1_back{
	background-color: rgb(15,91,145);
}
.footer_div_1{
	padding-top: 25px;
	padding-bottom: 25px;
	color: white;
	display: flex;
	justify-content: space-between;
}
.sales_div{
	display: flex;
}
/*.sales_div *{
	margin: 0 auto;
}*/
.sales_info h4,h3{
	 margin: 0; 
}
.sales_div i{
	color: rgb(108,192,252);
	margin-right: 5px;
	font-size: 40px;
}
.sales_info{
	display: flex;
}
.sales-info{
	align-self: center;
	display: block;
}
.sales_icon{
	display: block;
	align-self: center;
}
.footer_div_2{
	background-color:rgb(45,45,45);	
}
.footer_lists{
	display: flex;
	justify-content: space-between;
	color: rgb(123,123,123);
}
.footer_lists ul{
	padding-left: 10px;
}
.company_div a{
	color: rgb(123,123,123);
	text-decoration: none;
}
.company_div a:hover{
	color: white;
}
.footer_lists ul{
	list-style-type: none;
	text-decoration: none;
	padding-left: 0px;
	/*list-style-image: url('../img/triangle.svg');*/
}
.footer_lists a{
	text-decoration: none;
	color: rgb(123,123,123);
}
.footer_lists a:hover{
	color: white;
}
.contacts_div{
	display:flex;
	justify-content: flex-start;
	flex-direction: column;
	text-align: center;
}
.follow_us_div a{
	text-decoration: none;
	color: rgb(123,123,123);
	font-size: 25px;
}
.follow_us_div a:hover{
	color: white;
}
.follow_us_div{
	display: flex;
	flex-flow: column;
}
.follow_text{
	text-align: center;
}
.follow_icons{
	width: 220px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.follow_icons a{
	font-size: 50px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.btn{
	border-bottom: 1px dashed; 
	cursor:pointer;
}


/*.fixed_top{
	width: 100%;
	z-index: 9999;
	position: fixed;
}*/